.controlCard-container{
  display: flex;
  justify-content: space-between;
}
.controlCard-container .card{
  width: calc(96%/4);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #eee;
  padding: 20px 20px;
}
.controlCard-container .card .info{
  display: flex;
  flex-direction: column;
}
.controlCard-container .card .info p{
  font-size: 20px;
  font-weight: bold;
}